@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  font-weight: 400;
  font-style: normal;
  color: #161616;
  padding: 20px;
  min-height: 100dvh;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

/// General

.gradient {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
}

h2 {
  font-size: 24px;
  margin-bottom: 12px;
}

.h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}

.back-button {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  backdrop-filter: blur(10px);
  display: inline-block;
  margin-bottom: 0.5rem;

  &:hover {
    background: rgba(255, 255, 255, 0.4);
  }

  &,
  &:hover {
    transition: all 0.3s;
  }
}

.blue-title {
  font-size: 14px;
  color: #667eea;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}

section,
.section {
  color: #161616;
  background-color: white;
  margin-block: 24px;
  padding: 20px;
  border-radius: 16px;
}

.meta-text {
  font-size: 14px;
  color: #718096;
  margin-bottom: 10px;
}

.meta-description {
  font-size: 14px;
  color: #4a5568;
  line-height: 1.6;
}


/// badges 

.badges {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.badge {
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  background: #F6F6F6;
}

.badge-primary {
  background: #e6f2ff;
  color: #0066cc;
}

.badge-secondary {
  background: #f0e6ff;
  color: #6b46c1;
}

.badge-success {
  background: #e6ffe6;
  color: #00b300;
}

// stats

.stat {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 15px 25px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
  flex-shrink: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
}


/// AnimalDetail

#animal-detail {

  h1 {
    font-size: 28px;
    font-weight: 800;
  }
}

.animal-breed {
  font-size: 16px;
  color: #ACA3A3;
  padding-bottom: 8px;
}

.owner-card {
  padding: 20px;
  border-radius: 15px;
}

.list-card-item {
  padding: 20px;
  background: #f7fafc;
  border-radius: 15px;
  margin-bottom: 15px;
  border-left: 4px solid #667eea;
  transition: all 0.3s;

  &:hover {
    transform: translateX(5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}